{% extends 'myapp/index.html' %}
{% block content %}
{% load staticfiles %}
<link href="{% static "/css/custom_base.css" %}" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="container">
            <h1>Welcome to your fruity shop!</h1>
        </div>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <p>What are you find? </p>
                <a class="btn btn-primary btn-lg" href="/catalog" role="button">Catalog&raquo;</a>
                </div>
                <div class="col-md-4">
                <p>Or maybe you know name of fruit? </p>
                <form action="/search/" method="get">
                    <input type="text" name="q">

                    <input class="btn btn-primary btn-lg" type="submit" value="Search">
                </form>
                </div>
                <div class="col-md-4">
                    <p>And it is a search by category</p>
                    <form action="/search_category/" method="get">

                        <select id="org" name="org_list" onChange="redirectUrl()"  >
                            {% for cat in category %}
                            <option value="{{cat.category}}">{{cat.category}}</option>
                            {% endfor %}
                        </select>


                        <input  class="btn btn-primary btn-lg"  type="submit" value="Search by category">
                    </form>
                </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock%}

